{% load static %}

<!-- Footer -->
<footer class="page-footer bg-light fixed mt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">MORL</h5>
                <P class="text-muted">
                    At Menengai Oil Refineries Ltd (MORL), the satisfaction of our customer’s needs is critical to our
                    success, and we believe in providing our customers with the high-quality products they deserve.
                </P>


            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT US</h5>

                <p class="text-muted">
                   <strong>Phone :</strong> 051 2212355, +254798482096 <br>
                    <strong>Email :</strong> info@menengai.com <br>
                    <strong>Address :</strong>
                    P.O. Box 2918, Nakuru 20100, Kenya
                </p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">QUICK LINKS</h5>

                <ul class="list-unstyled links">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'store' %}">Shop</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">TERMS OF USE</h5>
                <ul class="list-unstyled links">
                    <li><a href="#" class="text-muted">Privacy & Legal</a></li>
                    <li><a href="#">Quality & Safety policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Our partners & suppliers</a></li>
                </ul>
                

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-info mt-2">© 2021 Copyright:
        <a href="{% url 'home' %}">Menengai Oil Refinaries Limited</a>
    </div>
    <!-- Copyright -->

</footer>