{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

            <li class="breadcrumb-item active" aria-current="page">Careers</li>
        </ol>
    </nav>
    <h3 class="text-center">Careers</h3>

</div>
<h1>Careers page</h1>
<h1>Bg image (Join Menengai Today) or Careers</h1>
<h3>bread crumb</h3>
Working with Us
KRA has built a strong professional team of over 6,000 employees deployed across the country. We have created a favorable work environment with able mentors who ensure talent is developed. We have also been ranked among the top five (5) employer of choice in the country.

 

 

If you experience any delay in receiving an email notification at the end of the e-recruitment registration process, please refresh your email. In case of any challenge, please send your query to isupporthr@kra.go.ke

 

Kenya Revenue Authority does not charge any fee at any stage of the recruitment process (application, shortlisting, interviewing, and/or offer) 
<h1>Careers opportunity at Menengai</h1>
<h2>view job openings</h2>
<h1>Attachment programs</h1>
<h1>Internship programs</h1>
{% endblock %}